html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    
  
}

:root{
    --primary-color: #dc4f72;
    --text-color: #000;
    --bg-color-dark-theme: #131617;
    --bd-color: #fff;
    --sub-color: #b7b7b7;
}

#btn-dark{
    color: var(--text-color);
}
#btn-bars{
    color: #fff;
    background-color: var(--primary-color);
    width: 30px;
    border-radius: 3px;
}
/* general use  */
.active{
    color: var(--primary-color) !important;
}
.btn-primary{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100vw;
    height: 80px;
    /* position: relative; */
    background-color: var(--bd-color);
}
.header .navbar{
    width: 80%;
   
}
.header_logo{
    color: var(--primary-color);
}


.nav-item a{
    color: var(--text-color);
}
.nav-item{
    position: relative;
}
.nav-item::before{
    content: "";
    width: 100%;
    height: 1px;
    color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
}
.nav-item a:hover{
    color: var(--text-color);
}
.dropdown-menu{
    background-color: var(--bd-color);
}
.search{
    color: var(--text-color);
    border: 1px solid var(--bd-color);
    width: 40px;
    height: 40px;
    
    
}

body.dark{
    
    background-color: var(--bg-color-dark-theme);
    --text-color: #FFF;
    --bd-color: #131617;
  
}

#btn-dark{
    color: var(--text-color);
}
#btn-bars{
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 3px;
    border: none;
}
/* general use  */
.active{
    color: var(--primary-color) !important;
}
.btn-primary{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
}
a{
    text-decoration: none;
    background-color: transparent;
}
p{
    color: #5a5a5a;
}
.theme_button{
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    padding: 0 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-outline-dark{
    color: #dc4f72;
    border-color: #dc4f72;
    transition: all .5s;
}
.btn-outline-dark:hover{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.btn-pink{
    color: white;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.btn-pink:hover{
    color: #fff;
    background-color: #d62f58;
    border-color: #d62f58;
}

.container{
    max-width: 1200px;
}

/* Projects */
.projects{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.heading h6{
    color: var(--primary-color);
    cursor: pointer;
}
.heading h1{
    color: var(--text-color);
    cursor: pointer;
}
.sliderTab .navTabs{
    list-style: none;
    color: var(--text-color);
    display: flex;
    width: 100%;
    padding: 0;
    
}
.sliderTab .navTabs .navItem{
    /* cursor: pointer;
    margin: 0 auto; */
    text-align: center;
    width: calc(100% / 3);
    border-bottom: 4px solid var(--text-color);
    font-size: 24px;
    font-weight: 700;
    padding: 5px;
    transition: 0.5s;

}
.sliderTab .navTabs .navItem.active{
    border-bottom: 4px solid #d62f58;

}

.textContent h3{
    font-size: 30px;
}
.contentTabs .tab{
    display: none;
}
.contentTabs .tab h3{
    color: var(--text-color);
}


.contentTabs .tab.active{
        display: flex;
}

/* People */
.people{
    margin-top: 100px;
    height: 100vh;
    background-image: url(/img/b2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.people .container{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.people .container .heading {
    text-align: center;
    
}
.people .container .heading h1{
    color: var(--text-color);
    
}

#formList{
    width: 1200px;
    margin-top: 100px;
    overflow-x: scroll;
    max-width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;

}
#formList::-webkit-scrollbar{
    display: none;  
}
#list{
    width: max-content;
    /* padding: 50px; */
    display: flex;
    gap: 15px;

}
#formList #list .item{
    width: 580px;
    display: flex;
    background-color: var(--bd-color);
    padding: 30px;
    scroll-snap-align: start;
    border-radius: 20px;
    overflow: hidden;
}
#formList #list .item .heroImg img{
    border: 3px solid var(--primary-color);
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 50%;

}
#formList #list .item i{
    color: var(--text-color);
}
#formList #list .item .content h5{
    color: var(--primary-color);
}
#formList #list .item .content p,#formList #list .item .content h6{
    color: var(--text-color);
}
#prev,#next{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.build {
    height: 50vh;
    margin-top: 100px;
    text-align: center;
}
.build .container h1{
    font-size: 46px;
    color: var(--text-color);
}
.getStarted{
    color: #fff ;
    background-color: var(--primary-color) ;
}

/* footer */
.footer .container .item h4{
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--text-color);
}
.footer .container .item ul{
    list-style: none;
    padding: 0;
    text-align: start;
    color: var(--text-color);

}
.footer .container .item ul li{
    margin: 10px 0;
    
}
.footer .container .item ul li input{
    outline: none;
    
}
.footer .container .item ul li button{
    background-color: var(--primary-color);
    color: #fff;
    
}
.boxshadow{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
hr{
    color: var(--sub-color);
}
.info .container{
    color: var(--text-color);
}
/* BACK TO TOP  */
.backToTop{
    width: 50px;
    height: 45px;
    background: #dc4f72c4;
    border: none;
    outline: none;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    transition: all .3s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    /* visibility: hidden; */
    opacity: 0;
    z-index: 100;
}
.backToTop:hover{
    background: #dc4f72;
    opacity: 1;
    transition: all .3s;
}
.cd-top--is-visible { 
    /* // back-to-top button visible */
    visibility: visible;
    opacity: 1;
}


















/* PROJECT */
/* .navTabs{
    background: linear-gradient(to bottom right, #25aebb,#0ddb9f);
    padding: 0;
    margin: 50px 0 0;
    list-style: none;
    display: flex;
    max-width: fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1  ;
}
.navTabs .navItem{
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    width: 80px;
    text-align: center;
    border-right: 1px solid;
    transition: .5s;
    cursor: pointer;
}
.navTabs .navItem:nth-last-child(1){
    border-right: none;
}

.navTabs .nav-item.active{
    color: #555;
}
.bg-active{
    background-color: #eee;
    padding: 20px;
    width: 80px;
    position: absolute;
    left: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}

.contentTabs{
    padding: 30px;
    background-color: #eee;
    color: #555;
    border-radius: 10px;
    border-top-left-radius: 0;
    min-height: 300px;
    text-align: justify;
}
.contentTabs .tab{
    display: none;
}
.contentTabs .tab.active{
    display: block;
} */


/* Reponsive */
@media (max-width:992px){
    .header .navbar{
        width: 100%;
       
    }
    
    .navbar .menu .navbar-nav{
        position: absolute;
        max-height: 0;
        overflow: hidden;
        top: 80px;
        left: 0;
        right: 0;
        background-color: var(--bd-color);
        width: 100%;
        margin: 0 !important;
        
        /* border: 1px solid #000; */
    };
}


