
:root{
    --primary-color: #dc4f72;
    --text-color: #5a5a5a;
    --bg-color-dark-theme: #131617;
    --bd-color: #fff;
}

#btn-dark{
    color: var(--text-color);
}
#btn-bars{
    color: #fff;
    background-color: var(--primary-color);
    width: 30px;
    border-radius: 3px;
}
/* general use  */
.active{
    color: var(--primary-color) !important;
}
.btn-primary{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
}

/* Header */
.header {
    width: 100vw;
    height: 80px;
    position: relative;
    border-bottom: 1px solid #000;
}
.header .navbar{
    width: 80%;
   
}
.header_logo{
    color: var(--primary-color);
}


.nav-item a{
    color: var(--text-color);
}
.search{
    color: var(--text-color);
    border: 1px solid var(--bd-color);
    width: 40px;
    height: 40px;
    
    
}

body.dark{
    
    background-color: var(--bg-color-dark-theme);
    --text-color: #FFF;
    --bd-color: #333;
  
}























/* Reponsive */
@media (max-width:992px){
    .navbar .menu .navbar-nav{
        position: absolute;
        max-height: 0;
        overflow: hidden;
        top: 80px;
        left: 0;
        right: 0;
        /* border: 1px solid #000; */
    }
}

@media screen and (max-width:800px){
    /* TOOLS  */
    .tools_top h3{
        font-size: 40px;
        line-height: 50px;
    };
}
@media screen and (max-width:667px){
    /* TOOLS  */
    .tools_top h3{
        font-size: 32px;
        line-height: 42px;
    };
}
@media screen and (max-width:568px){
    /* CAROUSEL  */
    .carousel_left h3{
        font-size: 40px;
        line-height: 45px;
    }
}
@media screen and (max-width:414px){
    
}

@media screen and (max-width:376px){
    
}

@media screen and (max-width:320px){
    
}

@media screen and (min-width:768px) and (max-width:992px) {
    
}

@media screen and (min-width:575px) and (max-width:992px) {
    
}

@media screen and (min-width:991.98px) and (max-width:1299.98px){
    
}
